[Unit]
Description=Syncthing Discovery Server
After=network.target
Documentation=man:stdiscosrv(1)

[Service]
User=syncthing
Group=syncthing
WorkingDirectory=/var/lib/syncthing/discosrv
EnvironmentFile=-/etc/default/syncthing-discosrv
ExecStart=/usr/bin/stdiscosrv $STDISCOSRV_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=stdiscosrv.service
